.CarsItem {
  position: relative;
  padding-top: 0;
  padding-bottom: 30px;
  border-radius: 4px;
  box-shadow: 0px 4px 54px 0px rgba(0, 0, 0, 0.12);
  background-color: #ffffff;
  min-height: 370px;
  overflow: hidden;
  .Header {
    padding: 25px 30px;
    font-size: 22px;
    color: #000000;
  }
  sup {
    color: #9e9e9e;
  }
  .Image_Wrap {
    max-height: 200px;
    overflow: hidden;
  }
  .Image {
    width: 100%;
    height: 100%;
    max-height: 200px;
  }
  .Status {
    position: relative;
    z-index: 1;
    display: block;
    width: 200px;
    margin-top: 20px;
    margin-left: 30px;
    padding: 12px 23px;
    font-size: 12px;
    letter-spacing: 2.4px;
    color: #9e9e9e;
    text-align: center;
    text-transform: uppercase;
    border: 1px solid #22bf86;
    border-radius: 20px;
    transition: 300ms all ease;
  }
  .Footer {
    position: absolute;
    bottom: 25px;
    left: 30px;
    width: calc(100% - 60px);
    transform: translateY(40px);
    transition: 300ms all ease;
    background:none;
    z-index: 2;
    opacity: 0;
  }
  .OrderId {
    font-size: 14px;
    color: #9e9e9e;
  }
  .Price {
    display: flex;
    justify-content: space-between;
    span {
      font-size: 32px;
      line-height: 42px;
      color: #22BF86;
    }
  }
  .DeleteBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 46px;
    height: 46px;
    padding: 0;
    border-radius: 50%;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.12);
    transition: all 300ms ease;
    &:hover {
      box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.24);
    }
    &:focus {
      box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.24);
      outline: none;
    }
  }
  &:hover {
    box-shadow: 0px 4px 54px 0px rgba(0, 0, 0, 0.12);   
  }
  &:hover .Footer {
    transform: none;
    opacity: 1;
  }
  &:hover .Status {
    opacity: 0;
  }
  &:hover .Image {
    transform: scale(1.15);
  }
}
